@model SellerWatchViewModel


<h1>Create Sayfası</h1>
<form method="post" asp-action="Create">
    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
        <input type="text" class="form-control" asp-for="@Model.watch.Name">

    </div>
    <div class="mb-3">
        <label for="Brand" class="form-label">Brand</label>
        <input type="text" class="form-control" asp-for="@Model.watch.Brand">
    </div>
    <div class="mb-3">
        <label for="Color" class="form-label">Color</label>
        <input type="text" class="form-control" asp-for="@Model.watch.color">
    </div>

    <div class="mb-3">
        <label for="Color" class="form-label">Price</label>
        <input type="text" class="form-control" asp-for="@Model.watch.Price">
    </div>
    <div class="mb-3">
        <label for="Color" class="form-label">IMG URL</label>
        <input type="text" class="form-control" asp-for="@Model.watch.Img">
    </div>
    <div class="mb-3">
        <label for="seller" class="form-label">Seller:</label>
        <select name="seller" id="seller">
            @foreach (var seller in Model.sellers)
            {
                <option value="@seller.Id">@seller.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

